
@import 'apprise-frontend/common.scss';


.apppage, .appheader {

    background: $sidebar-panel-background !important;

    .appbanner {
        display: none;
    }
}

.appbanner {
    margin-top: 2px;
 
}

.apppage {

    align-items: center;
    padding: 0px !important;
    overflow: auto;

    .applogo {
        
        color: $darktheme_color_emphasis;
        font-variant-caps: small-caps;

        margin-top:5%;
 
    }

    .app-title {     

        color: $darktheme_color_emphasis;
  
        margin-top: 80px;
        margin-bottom: 120px;
   
        display:flex;
        flex-direction: column;
        align-items: center;

        font-size:50px;

        .app-name {
            font-weight: 100;
            margin-top: 10px;
        }

        .app-subtitle {
            font-size: 20px;
            color: silver;
            font-weight: 100;
            margin-top: 5px;
        }
    }


    .app-blurb {
        
        display: flex;
        flex-direction: column; 
        
        width: 100%;
        height: 100%;

        padding-bottom: 300px;

        color: $darktheme_color_emphasis;
      
        .innerEntry {

            width: 750px;
            display: flex;
            white-space: nowrap;

        }
      
        .entry {


            &:nth-child(odd) {
                background: #1a324a;
            }
    
            
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 70px 0px;

            border-bottom: 1px solid #32506f;

            ul {

                padding-left: 10px;
                list-style-type: none;

                li:first-of-type {

                    margin-top: 20px;
                }

                li {

                    display: flex;
                    align-items: center;
                    color: lightgray;
                    font-weight: 300;
                    font-size: 18px;
                    //font-variant: small-caps;

                    &:hover {
                        color:silver;
                    }
 
                    margin-top: 5px;

                    i {
                        color:$app-color;
                        font-size:18px;
                        margin-right: 8px;
                    }
                }
            }


           

            .logo {

                margin-top: auto;
                margin-bottom: auto;
                text-align: center;

                .icon-halo {

                    font-size: 80px;
                    background: #20384e;
                    border-radius: 50%;
                    padding: 0px 20px;
        
                    &:hover {
                        transform: scale(1.02);
                        color: white;
                    
                    }

                    &.right {
                        margin: 0 30px;
                    }
                }
            }

            .contents {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 20px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                font-weight: 200;

                .title {
                    font-size: 2em;
                    color: lightblue;
                }
                
                .text {
                    font-size: 1em;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    
                    .button {
                        margin-right: 20px;
                        border:none;

                         color:white;

                        &:hover {
                            opacity:.85;
                        }

                    }
                }
            }



        }
    }

}    

.app-credits {

    margin-top: 40px;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    align-self: center;
    text-align: center !important;
    
    .credits-part {

        display: flex;
        flex-direction: column;
       

        +.credits-part {
          
            margin-top: 40px;
        }
    }

    
    .iotc-logo {

        margin-bottom: 10px;

    }

    .iotc-logo-text {

        font-size: 18px;
        font-weight: 300;
        white-space: pre-wrap;

    }

    .credits-footer {

        flex-grow: 1;
        justify-content: end;
        padding-bottom: 30px;
    }
    
}

