@import 'apprise-frontend/common.scss';


.event-list {

    .list-droppable:not(:first-child){
        margin-top: 10px;
    }


}

.relative-link {

    .anticon.link-icon {
        color: $primary-color !important;
    }
}

.start-row {
    border-top: 2px solid $success-color
    
}

.end-row {
    border-bottom: 2px solid $success-color
    
}

.event-card { 

    &:not(.temporal-card) {
        background: $text-color-tinted;
    }

    border-radius: 4px;
    border: 1px dashed $text-color-frame;
    padding: 5px;
    background: $text-color-selected;

    .card-name {

        flex-grow: 1;

        .ant-select-selection__placeholder {

            font-size:small;
        }
       
    }

    .card-date {
        
        margin-top: 5px;

        .ant-calendar-picker {
            width:100%
        }

        .datebox {
            margin-bottom: 0px;
        }
    }

    .card-add-related {

        margin-top: 5px;
        flex-grow:1;

        display: flex;
        justify-content: flex-end;

        .ant-btn {
            color: $primary-color
        }
    }

 
}

.event-decoration {
    color: $primary-color;
}

.notified-check {
    margin-left: 20px;
    .notified-check-icon {
        color: $success-color;
    }
}